* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  /* font-family: 'HelveticaNeue-Light', 'Helvetica Neue sans-serif'; */
}

body {
  margin: 1em 1em 0;
  padding: 0;
  background-color: lavender;
}

.link-menu {
  text-align: center;
  display: inline;
}

.active {
  color: maroon;
}

.centered {
  text-align: center;
}

.centered h3 {
  color: midnightblue;
  text-shadow: black;
}

.body-main {
  text-align: left;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.App-Header {
  font-weight: bolder;
  text-align: center;
  text-shadow: midnightblue 2px 1px;
  background-image: url("./assets/rainbow-2-639x426.png");
  color: lemonchiffon 
}

img {
  display: block;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}

